DATABASE_URL="postgresql://postgres:senha@localhost:5432/conciliacao"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="mude-isso-em-producao-use-openssl-rand-base64-32"
SALT="mude-isso-tambem"
PORT=3001
FRONTEND_URL="http://localhost:3000"
NODE_ENV=development
